<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/static/stylesheet.css" />
        <title>Lix DB {% block title %}{% endblock %}</title>
    </head>

    <body>
    <ul class="header-list">
        <li><a href="/lixdb">Home</a></li>
        <li><a href="/lixdb/levels">Browse levels</a></li>
        <li><a href="/lixdb/about/">About</a></li>
        {% if user.is_authenticated %}
        <li>Logged in as {{ user.username }}!</li>
        <li><a href="/lixdb/my_replays/">My Replays</a></li>
        <li><a href="/lixdb/upload_replays/">Upload Replays</a></li>
        <li><a href="/lixdb/logout/">Logout</a></li>
        {% else %}
        <li><a href="/lixdb/login/">Login</a></li>
        <li><a href="/lixdb/register/">Register</a></li>
        {% endif %}
        
    </ul>
        <hr />

        {% block body_block %}{% endblock %}
    </body>

</html>