{% extends 'lixdb/base.html' %}


{% block body_block %}

    This really shouldn't be here, but whatever.

    {% if directories or levels %}
        <ul>
            {% if directories %}
            {% for dir in directories %}
            <li>{{ dir.name }}</li>
            {% endfor %}
            {% endif %}
            {% if levels %}
            {% for lev in levels %}
            <li>{{ lev.name }}</li>
            {% endfor %}
            {% endif %}
        </ul>
    {% else %}
        <strong>Nothing to see here.</strong>
    {% endif %}

{% endblock %}