{% extends 'lixdb/base.html' %}

{% block title %} - Browse Levels{% endblock %}

{% block body_block %}
    <h1>{{ root_name }}</h1> <!-- don't know why it doesn't display -->

    {% if directory %}
        <table border=1>
            <tr>
                <th>Name</th>
                <th>Saved</th>
                <th>Skills</th>
                <th>Time</th>
            </tr>
            <tr class="dir"><td><a href="/lixdb/{{ parent_dir }}">Up one level</a></td></tr>
            {% for dir in directories %}
            <tr class="dir">
                <td><a href="/lixdb/{{ dir.name }}/">{{ dir.name }}</a></td>
            </tr>
            {% endfor %}
            {% for lev in level_stats %}
            <tr class="lev">
                <td><a href="/lixdb/{{ lev.0.name }}">{{ lev.0.title }}</a></td>
                {% if lev.1 %}
                <td>{{ lev.1.0 }}/{{ lev.1.1 }}</td>
                <td>{{ lev.1.2 }}</td>
                <td>{{ lev.1.3 }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        The specified directory {{ root_name }} does not exist!
    {% endif %}

{% endblock %}