{% extends 'lixdb/base.html' %}


{% block title %} - Replays for {{ level_name }}{% endblock %}

{% block body_block %}
    <h1>{{ level_name }}</h1>
    <a href="/lixdb/{{ dir_name }}">Back</a><br />
    {% if replays_by_saved %}
        <br />Sorted by lemmings saved:
        <table border=1>
            <tr>
                <th>Player</th>
                <th>Saved</th>
                <th>Skills</th>
                <th>Time</th>
            </tr>
            {% for rpl in replays_by_saved %}
            <tr>
                <td>{{ rpl.author }}</td>
                <td>{{ rpl.lems_saved }}/{{ rpl.lems_required }}</td>
                <td>{{ rpl.skills }}</td>
                <td>{{ rpl.time }}</td>
            </tr>
            {% endfor %}
        </table>
        <br />Sorted by skills used:
        <table border=1>
            <tr>
                <th>Player</th>
                <th>Skills</th>
                <th>Saved</th>
                <th>Time</th>
            </tr>
            {% for rpl in replays_by_skills %}
            <tr>
                <td>{{ rpl.author }}</td>
                <td>{{ rpl.skills }}</td>
                <td>{{ rpl.lems_saved }}/{{ rpl.lems_required }}</td>
                <td>{{ rpl.time }}</td>
            </tr>
            {% endfor %}
        </table>
        <br />Sorted by time taken:
        <table border=1>
            <tr>
                <th>Player</th>
                <th>Time</th>
                <th>Saved</th>
                <th>Skills</th>
            </tr>
            {% for rpl in replays_by_time %}
            <tr>
                <td>{{ rpl.author }}</td>
                <td>{{ rpl.time }}</td>
                <td>{{ rpl.lems_saved }}/{{ rpl.lems_required }}</td>
                <td>{{ rpl.skills }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        The specified level {{ root_name }} does not exist!
    {% endif %}

{% endblock %}