h1 {
    font-size: 14pt;
    color: #000080;
}

.header-list li {
    display: inline;
    background-color: #CCCCCC;
    color: #000000;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

table, tr, th, td {
    border: 1px solid #888888;
}

td, th {
    padding: 6px;
}

th {
    background-color: #CCCCCC;
}

tr {
    background-color: #EEEEEE;
}

tr.dir td {
    background-color: #DDDDDD;
}

tr.lev td {
    background-color: #EEEEEE;
}

tr.OK td {
    background-color: #BBFFBB;
}

tr.FAIL td {
    background-color: #FFBBBB;
}

tr.NO-LEV td {
    background-color: #000000;
    color: #FFEEEE;
}



td#gold {
    background-color: #FFD700;
    color: #000000;
}

td#silver {
    background-color: #BCC6CC;
    color: #000000;
}

td#bronze {
    background-color: #CD7F32;
    color: #000000;
}

td#fail {
    background-color: #FFBBBB;
}

td#nolev {
    background-color: #000000;
    color: #FFEEEE;
}



a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}