h1 {
    font-size: 14pt;
    color: #000080;
}

.header-list li {
    display: inline;
    background-color: #CCCCCC;
    color: #CCCCCC;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

table, tr, th, td {
    border: 1px solid #888888;
}

td, th {
    padding: 6px;
}

th {
    background-color: #CCCCCC;
}

tr {
    background-color: #EEEEEE;
}

tr.dir td {
    background-color: #DDDDDD;
}

tr.lev td {
    background-color: #EEEEEE;
}


a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}